import-normalize /* bring in normalize.css styles */

.image{
    width: 200px;
}
.form-wraper{
    max-width: 1098px;
    width: 100%;
    background-color: #fafafa; 
    padding-bottom: 50px;
    position: relative;
}
*{
    word-break: all;
}
.form-div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 30px;
}
.cv-wraper{
    background-color: #fff;
    max-width: 822px;
    width: 100%;
    position: relative;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.experienc{
    width: 100%;
    margin-right: 30%;
    margin-top: 40px;
}
.newform{
    margin-left: 0px;
    width: 100%;
}
.buttons{
    max-width: 798px;
    width: 100%;
    margin: 0 auto;
}
.cv-wraper-resium{
    border: 0.8px solid #474747;
    margin: 0 auto;
    margin-top: 54px;
    max-width: 800px;
    width: 100%;
    position: relative;
    padding-bottom: 40px;
}
.cv-paragraph{
    font-size: 16px;
    font-weight: 660;
    line-height: 24px;
    max-width: 300px;
    width: 100%;
    color: #000;
    word-break: break-all;
    /* margin-top: 5px; */
}
.cv-dates{
    font-size: 16px;
    color: #909090;
    font-weight: 400px;
    margin-top: 4px;
}
.cv-photo{
    width: 246px;
    height: 246px;
    object-fit: cover;
    border-radius: 133px;
    margin-top: 50px;
    border: 0;
}
.cv-photo:not([src]) {
    content:url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
}
*{
    box-sizing: border-box;
}
.cv-block{
    max-width: 662px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.cv-wrap{
    padding-left: 60px;
    overflow: hidden;
    max-width: 300px;
    width: 100%;
}
.cv-name{
    font-size: 34px;
    font-weight: 700;
    color: #F93B1D;
    line-height: 42px;
    margin-top: 15px;
    word-break: break-all;
}
.name{
    margin-top: 5px;
}
.cv-about{
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #F93B1D;
    margin-top: 34px;
}
.cv-email{
    font-size: 18px;
    font-weight: 400;
    color: #1A1A1A;
    line-height: 21px;
    margin-top: 17px;
    word-break: break-all;
}
.cv-number{
    font-size: 18px;
    font-weight: 400;
    color: #1A1A1A;
    line-height: 21px;
    margin-top: 10px;
    word-break: break-all;
}
.staricon{
    position: absolute;
    bottom: 5px;
    margin-left: 20px;
    width: 42px;
    height: 42px;
    object-fit: contain;
    left: 17px;
}
.cv-textarea{
    font-size: 16px;
    font-weight: 400;
    color: #000;
    line-height: 22px;
    max-width: 400px;
    width: 100%;
    word-break: break-all;
    margin-top: 15px;
}

.form{
    display: flex;
    flex-direction: column;
    max-width: 798px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    min-height: 100%;
    /* height: 130vh; */
}
.input-name-div{
    display: flex;
    max-width: 798px;
    width: 100%;
    justify-content:space-between;
}
.image-label{
    width: 232px;
    color: #000;
}
/* .text-label{ */
    /* margin-top: 54px; */
/* } */
/* .email-label{ */
    /* margin-top: 33px; */
/* } */
/* .number-label{ */
    /* margin-top: 33px; */
/* } */
input{
    margin-top: 8px;
    outline: none;
}
textarea{
    margin-top: 8px;
    outline: none;
}
.namediv{
    max-width: 371px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
input::placeholder{
    margin-left: 10px;
    line-height: 21px;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    left: 16px;
    top: 13px;
}
textarea::placeholder{
    left: 16px;
    top: 13px;
    line-height: 21px;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    position: absolute;
}
.input-name{
    max-width: 371px;
    width: 100%;
    height: 48px;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    background-color: #fff;
    position: relative;
}
.input-email{
    max-width: 798px;
    width: 100%;
    height: 48px;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    background-color: #fff;
}
.red{
    max-width: 371px;
    width: 100%;
    height: 48px;
    border: 1px solid #ef5050;
    border-radius: 4px;
    background-color: #fff;
}
.redborder{
    border: 1px solid #ef5050;
}
.label-red{
    color: #ef5050;
}
.textarea{
    max-width: 798px;
    width: 100%;
    height: 103px;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    background-color: #fff;
}
.text{
    height: 123px;
}
.red-textarea{
    max-width: 798px;
    width: 100%;
    height: 103px;
    border: 1px solid #ef5050;
    border-radius: 4px;
    background-color: #fff;
}
.red-border{
    max-width: 798px;
    width: 100%;
    height: 48px;
    border: 1px solid #ef5050;
    border-radius: 4px;
    background-color: #fff;
}
.red-icon{
    display: none;
}
.icon-wraper{
    position: relative;
    display: flex;
}
.red-icon-block{
    display: block;
    width: 21px;
    height: 18px;
    position: absolute;
    right: -30px;
    top:40px;
}
.red-icon-blocks{
    display: block;
    width: 21px;
    height: 18px;
    position: absolute;
    right: -26px;
    top:20px;
}
.red-icons{
    display: block;
    width: 21px;
    height: 18px;
    position: absolute;
    right: -26px;
    top:50px;
}
.red-icon-date{
    display: block;
    width: 21px;
    height: 18px;
    position: absolute;
    right: -30px;
    top:75px;
}
.input-email{
    max-width: 798px;
    width: 100%;
    height: 48px;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    background-color: #fff;
}
.image-input-div{
    display: flex;
    align-items:baseline;
    max-width: 320px;
    width: 100%;
    justify-content: space-between;
}
.image-input{
    display: none;
}
.image-button{
    width: 107px;
    height: 27px;
    background-color:#0E80BF;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
}
.name-criteria{
    line-height: 21px;
    font-size: 14px;
    color: #6d6c6c;
    margin-top: 8px;
    font-weight: 300;
    font-style: normal;
}
.back-arrow{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 16px;
    color:#2E2E2E ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 20px;
    left: 10px;
}
.back-arrow-resium{
    background-color: #f9f9f9;
    margin-top: -7px;
    margin-left: 40px;
}

.wraper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 5vh;
}

.overlay{
    display: flex;
    max-width: 798px;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    height: 60px;
    border-bottom: 1px solid  #1A1A1A;
}
*{
    list-style: none;
}
/* step2 */
.exp-button{
    background: #62A1EB;
    width: 289px;
    height: 48px;
    border-radius: 4px;
    border: none;
    margin-top: 45px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.54px;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}
.button{
    width: 151px;
    height: 48px;
    background-color: #6B40E3;
    margin-top: 40px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-left: 3.5px;
}
button{
    cursor: pointer;
}
.button-back{
    background-color:#6B40E3;
    width: 113px;
    height: 48px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.54px;
    color: #fff;
    margin-top: 0px;
}
.buttons-div{
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
}
.button-next{
    margin-top: 0px;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    max-width: 798px;
    width: 100%;
    height: 1px;
    background-color: #C1C1C1;
    margin-top: 60px;
    display: none;
}

/* home */
    .home-wraper{
    width: 100vw;
    min-height: 100vh;
    background-image: url(../src/images/shutterstock_2189773743\ 1\ \(3\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 25px;
}
.redberry-img{
    width: 236px;
    height: 38px;
    object-fit: contain;
}
.home-image{
    position: absolute;
    max-width: 299px;
    width: 100%;
    height: 299px;
    object-fit: contain;
    bottom: 1%;
    right: 20%;
    mix-blend-mode: multiply;
}
.redberry-wraper{
    width: 100%;
    height: 1px;
    background-color: #1A1A1A;
    margin-top: 20px;
}
.resium-link{
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    max-width: 464px;
    width: 100%;
    height: 60px;
    background-color: #1A1A1A;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    padding: 18px 60px 18px 60px;
    transform: translate(-50%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons-none{
    display: none;
}


/* responsive */
@media(max-width:1760px){
    .form-wraper{
        width: 58%;
        overflow: visible;
        margin: 0 auto;
        background-color: #fafafa;
        margin-left: 0;
        padding-bottom: 40px;
    }
    .form-div{
        width: 100%;
    }
    .cv-wraper{
        width: 42%;
        overflow: visible;
    }
    .cv-block{
        max-width: 565px;
        width: 100%;
    }
    .cv-textarea{
        max-width: 320px;
        width: 100%;
    }
    .overlay{
        width: 100%;
    }
    .cv-line{
        display: none;
    }
    .cv-line2{
        display: none;
    }
    .cv-line3{
        display: none;
    }
    .cv-line4{
        display: none;
    }
    .cv-lin5{
        display: none;
    }
    
}
@media(max-width:1600px){
    .form{
        max-width: 598px;
        width: 100%;
    }
    .input-name-div{
        max-width: 598px;
        width: 100%;
        justify-content: space-between;
    }
    .textarea{
        max-width: 598px;
        width: 100%;
    }
    .input-email{
        max-width: 598px;
        width: 100%;
    }
    .input-name{
        max-width: 290px;
        width: 100%;
    }
    .namediv{
        max-width: 290px;
        width: 100%;
    }
    .wraper{
        max-width: 700px;
        width: 100%;
    }
    .overlay{
        /* max-width: 598px; */
        width: 100%;
        margin: 0 auto;
    }
    .form-wraper{
        width: 55%;
    }
    .cv-wraper{
        width: 45%;
    }
    .cv-block{
        max-width: 520px;
        width: 100%;
    }
    .cv-textarea{
        max-width: 270px;
        width: 100%;
    }    
}
@media(max-width:1300px){
    .form{
        max-width: 450px;
        width: 100%;
    }
    .input-name-div{
        max-width: 450px;
        width: 100%;
        justify-content: space-between;
    }
    .textarea{
        max-width: 450px;
        width: 100%;
    }
    .input-email{
        max-width: 450px;
        width: 100%;
    }
    .input-name{
        max-width: 200px;
        width: 100%;
    }
    .namediv{
        max-width: 200px;
        width: 100%;
    }
    .wraper{
        max-width: 500px;
        width: 100%;
    }
    .overlay{
        max-width: 450px;
        width: 100%;
        margin: 0 auto;
    }
    .form-wraper{
        width: 55%;
    }
    .cv-wraper{
        width: 45%;
    }
    .cv-block{
        /* max-width: 320px; */
        /* width: 100%; */
        flex-direction: column;
        justify-content: center;
        /* margin-left: 40px; */
    }
    .cv-textarea{
        max-width: 270px;
        width: 100%;
    }    
}
@media(max-width:1024px){
    .form-div{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .form-wraper{
        width: 100%;
    }
    .cv-wraper-resium{
        max-width: 580px;
        width: 100%;
    }
    .form{
        max-width: 600px;
        width: 100%;
    }
    .input-name-div{
        max-width: 600px;
        width: 100%;
        justify-content: space-between;
    }
    .textarea{
        max-width: 600px;
        width: 100%;
    }
    .input-email{
        max-width: 600px;
        width: 100%;
    }
    .input-name{
        max-width: 280px;
        width: 100%;
    }
    .namediv{
        max-width: 280px;
        width: 100%;
    }
    .wraper{
        max-width: 650px;
        width: 100%;
    }
    .overlay{
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }
    .cv-block{
        /* max-width: 800px; */
        width: 100%;
        flex-direction: column;
        margin:0 auto; 
        justify-content:center; 
        align-items: center;
    }
    .cv-wrap{
        max-width: 320px;
        width: 100%;
        padding-left: 60px;
    }
    .staricon{
        left: 17px;
    }
    .cv-wraper{
        width: 100%;
    }
    .cv-textarea{
        max-width: 400px;
        width: 100%;
    }    
    .cv-photo{
        margin-right: 10px;
    }
}
@media(max-width:768px){
    .form{
        max-width: 450px;
        width: 100%;
    }
    .input-name-div{
        max-width: 450px;
        width: 100%;
        justify-content: space-between;
    }
    .cv-wraper-resium{
        max-width: 400px;
        width: 100%;
    }
    .nameinput{
        max-width: 220px;
        width: 100%;
    }
    .textarea{
        max-width: 450px;
        width: 100%;
    }
    .cv-photo{
        margin-right: 0px;
    }
    .input-email{
        max-width: 450px;
        width: 100%;
    }
    .input-name{
        max-width: 220px;
        width: 100%;
    }
    .namediv{
        max-width: 220px;
        width: 100%;
    }
    .resium-link{
        max-width: 300px;
        width: 100%;
        font-size: 17px;
    }
    .redberry-img{
        width: 160px;
    }
    .home-image{
        width: 200px;
        height: 200px;
    }
    .name-criteria{
        width: 250px;
    }
    .cv-name{
        font-size: 25px;
    }
    .cv-number{
        font-size: 16px;
    }
}
@media(max-width:600px){
    .cv-name{
        font-size: 18px;
    }
    .back-arrow-resium{
        margin-left: 5px;
        width: 20px;
        height: 20px;
        font-size: 13px;
    }
    .cv-email{
        font-size: 16px;
    }
    .form{
        max-width:310px;
        width: 100%;
    }
    .image-input-div{
        max-width:310px;
        width: 100%;
    }
    .input-name-div{
        max-width: 310px;
        width: 100%;
        justify-content: space-between;
        height: 110px;
        align-items: flex-end;
    }
    .nameinput{
        max-width: 150px;
        width: 100%;
    }
    .criteria{
        max-width: 150px;
        width: 100%;
    }
    .exp-button{
        width: 310px;
        font-size: 13px;
    }
    .textarea{
        max-width: 310px;
        width: 100%;
    }
    .input-email{
        max-width:310px;
        width: 100%;
    }
    .input-name{
        max-width:150px;
        width: 100%;
    }
    .namediv{
        max-width: 150px;
        width: 100%;
    }
    label{
        font-size: 15px;
    }

    .wraper{
        max-width:380px;
        width: 100%;
    }
    .overlay{
        max-width:310px;
        width: 100%;
    }
}
@media(max-width:480px){
    input::placeholder{
        left: 4px;
        padding: 0;
        margin: 0;
    }
    .cv-name{
        font-size: 18px;
    }
    .cv-wraper-resium{
        max-width: 350px;
        width: 100%;
    }
    .back-arrow-resium{
        margin-left: 1px;
        margin-top: -23px;
    }
    .cv-email{
        font-size: 16px;
    }
    .form{
        max-width:250px;
        width: 100%;
    }
    .image-input-div{
        max-width:250px;
        width: 100%;
        align-items:flex-start;
    }
    .input-name-div{
        max-width: 250px;
        width: 100%;
        justify-content: space-between;
    }
    .nameinput{
        max-width: 100px;
        width: 100%;
    }
    .exp-button{
        width: 250px;
    }
    .textarea{
        max-width: 250px;
        width: 100%;
    }
    .input-email{
        max-width:250px;
        width: 100%;
    }
    .input-name{
        max-width:120px;
        width: 100%;
    }
    .namediv{
        max-width: 120px;
        width: 100%;
    }
    .datelabel{
        width: 100px;
    }
    .wraper{
        max-width:320px;
        width: 100%;
    }
    .overlay{
        max-width:250px;
        width: 100%;
        /* margin-right: 10px; */
    }
    .back-arrow{
        width: 20px;
        height: 20px;
        font-size: 14px;
        right: 40px;
    }
    .button{
        width: 120px;

    }
    .button-back{
        width: 100px;
    }
    .info-heading{
        font-size: 16px;
    }
    input::placeholder{
        display: none;
    }
}